<div class="card" style="width: 10rem; margin-top: 3px;">
    <div class="card-body">
      <h5 class="card-title">Backend</h5>
      <h6 class="card-subtitle mb-2 text-body-secondary">Skills</h6>
      <!--<p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
      <a href="#" class="card-link">Card link</a>
      <a href="#" class="card-link">Another link</a>-->
        <div class="m-2" style="background-color: rgb(147, 4, 4); color: white;"><i class="fa-brands fa-java"></i>Spring MVC</div>
        <div class="m-2" style="background-color: rgb(134, 2, 2); color: white;"><i class="fa-brands fa-java"></i>Spring Boot</div>
        <div class="m-2" style="background-color: rgb(170, 4, 4); color: white;"><i class="fa-brands fa-java"></i>RestAPIs</div>
        <div class="m-2" style="background-color: rgb(205, 6, 6); color: white;"><i class="fa-brands fa-java"></i>Hibernate</div>
        <div class="m-2" style="background-color: rgb(228, 6, 6); color: white;"><i class="fa-brands fa-java"></i>JSP</div>
        <div class="m-2" style="background-color: rgb(255, 2, 2); color: white ;"><i class="fa-brands fa-java"></i>Servlet</div>
    </div>
  </div>
